{% extends 'base.html.twig' %}

{% block body %} 

<div class="header">
        <span class="title">Cineverse</span>

        <div class="botonera">
            <a href="{{ path('app_logout') }}" class="btn-light">Salir</a>
        </div>
    </div>



{% endblock %}