* {
    margin: 0;
    padding: 0;
}

#titulo {
    display: flex;
    justify-content: center;
}

#form_login {
    display: grid;
    gap: 10px;
    justify-content: center;
    max-width: 1900px;
    margin: 150px;
}

#form_login input{
    border-radius: 0.5rem;
}

#form_registro input{
    margin: 10px;
    width: 300px;
    border-radius: 0.5rem;
}