{% extends 'base.html.twig' %}

{% block body %}
<div>
    <a href="{{ path('app_login') }}" class="btn btn-danger">Volver</a>
    <h1 style="display: flex; justify-content: center; font-size: 50px;">Registro</h1>
</div>
    <br></br>
    {% for message in app.flashes('exito') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    <form action="{{ path('registro_manager') }}" method="post" id="form_registro">
    <label for="registro_nombre">Nombre Completo</label>
    <div>
        <input type="text" name="nombre_completo" required>
    </div>
   
    <label for="">Nombre de Usuario</label>
    <div>
        <input type="text" name="nombre_usuario">
    </div>
    
    <label for="" >Correo Electronico</label>
    <div>
        <input type="text" name="correo_electronico">
    </div>
   
    <label for="" >Contrase単a</label>
    <div>
        <input type="password" name="contrase単a">
    </div>
    
    <label for="">Repetir Contrase単a</label>
    <div>
        <input type="password" name="repetir_contrase単a">
    </div>

</br>
    <input type="submit" value="Registrarme" class="btn btn-primary">
</form>

{% endblock %}
