{% extends 'base.html.twig' %}

{% block body %}
<div>
    <a href="{{ path('app_login') }}" style="font-size: 20px; text-decoration: none; color: red; font-weight: bold;">Volver</a>
    <h1 style="display: flex; justify-content: center; font-size: 50px;">Registro</h1>
</div>
    <br></br>
    <form action="" method="post">
    <label for="" style="font-size: 20px;">Nombre Completo</label>
    <div>
        <input type="">
    </div>
    <br></br>
    <label for="" style="font-size: 20px;">Nombre de Usuario</label>
    <div>
        <input type="">
    </div>
    <br></br>
    <label for=""style="font-size: 20px;" >Correo Electronico</label>
    <div>
        <input type="">
    </div>
    <br></br>
    <label for="" style="font-size: 20px;">Contraseña</label>
    <div>
        <input type="">
    </div>
    <br></br>
    <label for="" style="font-size: 20px;">Repetir Contraseña</label>
    <div>
        <input type="">
    </div>
    <br></br>
    <input type="submit" value="Registrarme" style="color: blue;">
</form>

{% endblock %}
