{% extends 'base.html.twig' %}

{% block body %}

    {# {% if error %}
        <div>Usuario o contraseña incorrecta</div>
    {% endif %} #}
    
    <header>
    <h1 id="titulo" >CINEVERSE 🎥</h1>
    {# <a href="{{ path('app_logout') }}">Logout</a> #}
    </header>

{% endblock %}
