{% extends 'base.html.twig' %}

{% block body %}

{# {% if error %}
<div>Usuario o contraseña incorrecta</div>
{% endif %} #}

<header>
    <h1 id="titulo">CINEVERSE 🎥</h1>
    {# <a href="{{ path('app_logout') }}">Logout</a> #}
    <form method="post" accept-charset="UTF-8">

        <input type="hidden" name="action" value="users/login">

        <h3><label for="loginName">Username o email</label></h3>
        <input id="loginName" type="text" name="loginName">

        <h3><label for="password">Contraseña</label></h3>
        <input id="password" type="password" name="password">


        <input type="submit" value="Ingresar" style="color: green;">

        <a href="{{ path('registro_cliente') }}">Registro</a>

        {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
        {% endif %}
    </form>
</header>

{% endblock %}