<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

            <title>{% block title %}Cineverse{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="icon" type="image/x-icon" href="{{ asset('cup-hot-fill.svg') }}">
            <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>